In [33]:
# Data visualisation practice: See CO trace
# 2017-09-20
#Filip
#Kevin

import plotly.offline as py
import pandas as pd
import requests

df_airports = pd.read_excel(r'location.xlsx')

# df_flight_paths = pd.read_csv(r'2011_february_aa_flight_paths.csv')
# df_flight_paths.head()

   iata        airport           lat          long
0   NaN     SDC Gdansk  3.364044e+09 -8.442694e+09
1   NaN  SDC Bangalore  3.289595e+09 -9.703720e+05
2   NaN     SDC Gdansk  3.343417e+09 -1.120081e+09
3   NaN  SDC Bangalore  3.985841e+09 -1.046670e+09
4   NaN     SDC Gdansk  2.998047e+09 -9.533972e+09

In [113]:
df_flight_paths = pd.read_excel(r'PU&WF&CO.xlsx')

In [114]:
df_flight_paths[['GRID ID','WF','CO location']].isnull().any()
df_flight_paths.dropna(inplace=True)

df_flight_paths.CDU=df_flight_paths.CDU.apply(lambda x:x.replace('SDC ',''))
df_flight_paths.CDU=df_flight_paths.CDU.apply(lambda x:x.replace('CDU ',''))
df_flight_paths.CDU=df_flight_paths.CDU.apply(lambda x:x.replace('Local ',''))

df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('FI Global KYC CO','Amsterdam'))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('FM Global KYC CO','Eindhoven'))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('KYC CO (KZ)',''))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('KYC CO (Nordic)',''))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('KYC CO',''))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('TBD','Beijing'))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace('Trust','Amsterdam'))
df_flight_paths['CO location']=df_flight_paths['CO location'].apply(lambda x:x.replace(' ',''))

df_flight_paths['WF_NUMBER']=df_flight_paths.WF.apply(lambda x: int(x.split(".")[0]) if x.split(".")[0]!='Old status' else 0)
df_flight_paths['Color_Category']=df_flight_paths.WF_NUMBER.apply(lambda x: 'grey' \
                                                                  if x< 18 else 'red' \
                                                                  if x in [18,19,20,25,26] else 'yellow' \
                                                                  if x in [21,22,23,27,28,29,30] else 'green')
df_flight_paths.drop('WF_NUMBER',axis=1,inplace=True)

In [34]:
# Check is there any null in locations
df_airports=df_airports[["airport",'lat','long']]
df_airports.airport.isnull().any()

False

In [39]:
# Only keep country and location name
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('SDC ',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('CDU ',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('Local ',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('FI Global KYC CO','Amsterdam'))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('FM Global KYC CO','Eindhoven'))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('KYC CO (KZ)',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('KYC CO (Nordic)',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('KYC CO',''))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('TBD','Beijing'))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace('Trust','Amsterdam'))
df_airports.airport=df_airports.airport.apply(lambda x:x.replace(' ',''))
df_airports

             airport           lat          long
0             Gdansk  3.364044e+09 -8.442694e+09
1          Bangalore  3.289595e+09 -9.703720e+05
2             Gdansk  3.343417e+09 -1.120081e+09
3          Bangalore  3.985841e+09 -1.046670e+09
4             Gdansk  2.998047e+09 -9.533972e+09
5             Gdansk  3.761900e+09 -1.223748e+09
6          Bangalore  3.394254e+09 -1.184081e+09
7          Bangalore  2.842889e+09 -8.131603e+09
8          Bangalore  3.521401e+09 -8.094313e+09
9          Bangalore  4.078839e+09 -1.119778e+09
10            Manila  2.797547e+09 -8.253325e+06
11            Gdansk  4.069250e+09 -7.416866e+09
12            Manila  3.608036e+09 -1.151523e+09
13            Manila  3.987195e+09 -7.524114e+09
14            Manila  4.488055e+09 -9.321692e+08
15            Manila  4.744898e+09 -1.223093e+09
16            London  4.077724e+09 -7.387261e+09
17         Bangalore  4.178598e+08 -8.775242e+09
18            Gdansk  3.894453e+09 -7.745581e+09
19            Manila  3.273356e+09 -1.171897e+09
20         Bangalore  3.874769e+09 -9.035999e+09
21            Gdansk  4.221206e+09 -8.334884e+09
22            Gdansk  4.063975e+09 -7.377893e+09
23            Gdansk  2.579325e+06 -8.029056e+09
24            Gdansk  4.236435e+08 -7.100518e+09
25         Bangalore  3.869542e+09 -1.215908e+09
26         Bangalore  3.917540e+09 -7.666820e+09
27         Bangalore  3.367566e+09 -1.178682e+09
28            Gdansk  2.999339e+09 -9.025803e+09
29            Manila  3.736186e+09 -1.219290e+09
...              ...           ...           ...
60782     Luxembourg           NaN           NaN
60783        Belgium           NaN           NaN
60784  UnitedKingdom           NaN           NaN
60785      Amsterdam           NaN           NaN
60786    Netherlands           NaN           NaN
60787        Germany           NaN           NaN
60788        Romania           NaN           NaN
60789      Amsterdam           NaN           NaN
60790      Amsterdam           NaN           NaN
60791  UnitedKingdom           NaN           NaN
60792       Americas           NaN           NaN
60793        Belgium           NaN           NaN
60794      Amsterdam           NaN           NaN
60795    Switzerland           NaN           NaN
60796        Germany           NaN           NaN
60797         Poland           NaN           NaN
60798         Poland           NaN           NaN
60799         Poland           NaN           NaN
60800         Poland           NaN           NaN
60801         Poland           NaN           NaN
60802      Amsterdam           NaN           NaN
60803      Amsterdam           NaN           NaN
60804      Amsterdam           NaN           NaN
60805      Amsterdam           NaN           NaN
60806         Poland           NaN           NaN
60807  UnitedKingdom           NaN           NaN
60808      Amsterdam           NaN           NaN
60809         Russia           NaN           NaN
60810    Netherlands           NaN           NaN
60811    Netherlands           NaN           NaN

[60812 rows x 3 columns]

In [40]:
# get unique locations
location_list=df_airports.airport.unique().tolist()
location_list

['Gdansk',
 'Bangalore',
 'Manila',
 'London',
 'Luxembourg',
 'Bratislava',
 'Poland',
 'Switzerland',
 'Amsterdam',
 'NewYork',
 'Romania',
 'Turkey',
 'Germany',
 'UnitedKingdom',
 'France',
 'Belgium',
 'Netherlands',
 'Singapore',
 'Eindhoven',
 'Japan',
 'Americas',
 'Taiwan',
 'Ukraine',
 'Italy',
 'China',
 'SouthKorea',
 'Russia',
 'Beijing',
 'Slovakia',
 'CzechRepublic',
 'Hungary',
 'Spain',
 'Portugal',
 'Bulgaria',
 'HongKong']

In [41]:
len(location_list)

35

In [60]:
GeoData

{'Americas': {'lat': 54.5259614, 'lng': -105.2551187},
 'Amsterdam': {'lat': 52.3702157, 'lng': 4.895167900000001},
 'Bangalore': {'lat': 12.9715987, 'lng': 77.5945627},
 'Beijing': {'lat': 39.90419989999999, 'lng': 116.4073963},
 'Belgium': {'lat': 50.503887, 'lng': 4.469936},
 'Bratislava': {'lat': 48.1485965, 'lng': 17.1077478},
 'Bulgaria': {'lat': 42.733883, 'lng': 25.48583},
 'China': {'lat': 35.86166, 'lng': 104.195397},
 'CzechRepublic': {'lat': 49.81749199999999, 'lng': 15.472962},
 'Eindhoven': {'lat': 51.44164199999999, 'lng': 5.4697225},
 'France': {'lat': 46.227638, 'lng': 2.213749},
 'Gdansk': {'lat': 54.35202520000001, 'lng': 18.6466384},
 'Germany': {'lat': 51.165691, 'lng': 10.451526},
 'HongKong': {'lat': 22.396428, 'lng': 114.109497},
 'Hungary': {'lat': 47.162494, 'lng': 19.5033041},
 'Italy': {'lat': 41.87194, 'lng': 12.56738},
 'Japan': {'lat': 36.204824, 'lng': 138.252924},
 'London': {'lat': 51.5073509, 'lng': -0.1277583},
 'Luxembourg': {'lat': 49.815273, 'lng': 6.129582999999999},
 'Manila': {'lat': 14.5995124, 'lng': 120.9842195},
 'Netherlands': {'lat': 52.132633, 'lng': 5.291265999999999},
 'NewYork': {'lat': 40.7127837, 'lng': -74.0059413},
 'Poland': {'lat': 51.919438, 'lng': 19.145136},
 'Portugal': {'lat': 39.39987199999999, 'lng': -8.224454},
 'Romania': {'lat': 45.943161, 'lng': 24.96676},
 'Russia': {'lat': 61.52401, 'lng': 105.318756},
 'Singapore': {'lat': 1.352083, 'lng': 103.819836},
 'Slovakia': {'lat': 48.669026, 'lng': 19.699024},
 'SouthKorea': {'lat': 35.907757, 'lng': 127.766922},
 'Spain': {'lat': 40.46366700000001, 'lng': -3.74922},
 'Switzerland': {'lat': 46.818188, 'lng': 8.227511999999999},
 'Taiwan': {'lat': 23.69781, 'lng': 120.960515},
 'Turkey': {'lat': 38.963745, 'lng': 35.243322},
 'Ukraine': {'lat': 48.379433, 'lng': 31.1655799},
 'UnitedKingdom': {'lat': 55.378051, 'lng': -3.435973}}

In [59]:
# get GPS locations
location_list=df_airports.airport.unique()
GeoData={}
api_key = "AIzaSyDOJ9_Rsy7EV6V3n6xP5p53OUxdQIsdKHk"
for x in location_list:
    try:
        country=x
        response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}'.format(x, api_key))
        resp_json_payload = response.json()
        print(resp_json_payload['results'][0]['geometry']['location'])
        temp=resp_json_payload['results'][0]['geometry']['location']
        GeoData[country]=temp
    except:
        pass

{'lat': 54.35202520000001, 'lng': 18.6466384}
{'lat': 12.9715987, 'lng': 77.5945627}
{'lat': 14.5995124, 'lng': 120.9842195}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 49.815273, 'lng': 6.129582999999999}
{'lat': 48.1485965, 'lng': 17.1077478}
{'lat': 51.919438, 'lng': 19.145136}
{'lat': 46.818188, 'lng': 8.227511999999999}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 40.7127837, 'lng': -74.0059413}
{'lat': 45.943161, 'lng': 24.96676}
{'lat': 38.963745, 'lng': 35.243322}
{'lat': 51.165691, 'lng': 10.451526}
{'lat': 55.378051, 'lng': -3.435973}
{'lat': 46.227638, 'lng': 2.213749}
{'lat': 50.503887, 'lng': 4.469936}
{'lat': 52.132633, 'lng': 5.291265999999999}
{'lat': 1.352083, 'lng': 103.819836}
{'lat': 51.44164199999999, 'lng': 5.4697225}
{'lat': 36.204824, 'lng': 138.252924}
{'lat': 54.5259614, 'lng': -105.2551187}
{'lat': 23.69781, 'lng': 120.960515}
{'lat': 48.379433, 'lng': 31.1655799}
{'lat': 41.87194, 'lng': 12.56738}
{'lat': 35.86166, 'lng': 104.195397}
{'lat': 35.907757, 'lng': 127.766922}
{'lat': 61.52401, 'lng': 105.318756}
{'lat': 39.90419989999999, 'lng': 116.4073963}
{'lat': 48.669026, 'lng': 19.699024}
{'lat': 49.81749199999999, 'lng': 15.472962}
{'lat': 47.162494, 'lng': 19.5033041}
{'lat': 40.46366700000001, 'lng': -3.74922}
{'lat': 39.39987199999999, 'lng': -8.224454}
{'lat': 42.733883, 'lng': 25.48583}
{'lat': 22.396428, 'lng': 114.109497}

In [75]:
Locations_GPS=pd.DataFrame(GeoData).T.reset_index()
df_location_filled=df_airports[['airport']].merge(Locations_GPS,left_on='airport',right_on='index',how='left')
df_location_filled.drop('index', axis=1, inplace=True)
df_location_filled.rename(columns={'lng':'long'},inplace=True)

In [108]:
df_location_filled

             airport        lat        long
0             Gdansk  54.352025   18.646638
1          Bangalore  12.971599   77.594563
2             Gdansk  54.352025   18.646638
3          Bangalore  12.971599   77.594563
4             Gdansk  54.352025   18.646638
5             Gdansk  54.352025   18.646638
6          Bangalore  12.971599   77.594563
7          Bangalore  12.971599   77.594563
8          Bangalore  12.971599   77.594563
9          Bangalore  12.971599   77.594563
10            Manila  14.599512  120.984219
11            Gdansk  54.352025   18.646638
12            Manila  14.599512  120.984219
13            Manila  14.599512  120.984219
14            Manila  14.599512  120.984219
15            Manila  14.599512  120.984219
16            London  51.507351   -0.127758
17         Bangalore  12.971599   77.594563
18            Gdansk  54.352025   18.646638
19            Manila  14.599512  120.984219
20         Bangalore  12.971599   77.594563
21            Gdansk  54.352025   18.646638
22            Gdansk  54.352025   18.646638
23            Gdansk  54.352025   18.646638
24            Gdansk  54.352025   18.646638
25         Bangalore  12.971599   77.594563
26         Bangalore  12.971599   77.594563
27         Bangalore  12.971599   77.594563
28            Gdansk  54.352025   18.646638
29            Manila  14.599512  120.984219
...              ...        ...         ...
60782     Luxembourg  49.815273    6.129583
60783        Belgium  50.503887    4.469936
60784  UnitedKingdom  55.378051   -3.435973
60785      Amsterdam  52.370216    4.895168
60786    Netherlands  52.132633    5.291266
60787        Germany  51.165691   10.451526
60788        Romania  45.943161   24.966760
60789      Amsterdam  52.370216    4.895168
60790      Amsterdam  52.370216    4.895168
60791  UnitedKingdom  55.378051   -3.435973
60792       Americas  54.525961 -105.255119
60793        Belgium  50.503887    4.469936
60794      Amsterdam  52.370216    4.895168
60795    Switzerland  46.818188    8.227512
60796        Germany  51.165691   10.451526
60797         Poland  51.919438   19.145136
60798         Poland  51.919438   19.145136
60799         Poland  51.919438   19.145136
60800         Poland  51.919438   19.145136
60801         Poland  51.919438   19.145136
60802      Amsterdam  52.370216    4.895168
60803      Amsterdam  52.370216    4.895168
60804      Amsterdam  52.370216    4.895168
60805      Amsterdam  52.370216    4.895168
60806         Poland  51.919438   19.145136
60807  UnitedKingdom  55.378051   -3.435973
60808      Amsterdam  52.370216    4.895168
60809         Russia  61.524010  105.318756
60810    Netherlands  52.132633    5.291266
60811    Netherlands  52.132633    5.291266

[60812 rows x 3 columns]

In [115]:
df_flight_paths_1=df_flight_paths.merge(Locations_GPS,left_on='CDU',right_on='index',how='left')
df_flight_paths_filled=df_flight_paths_1.merge(Locations_GPS,left_on='CO location',right_on='index',how='left',suffixes=('_start', '_end'))
df_flight_paths_filled.drop(['index_start','index_end',],axis=1,inplace=True)

In [76]:
# The one below is "df_airport",'df_flight_paths'
df_location_filled
df_flight_paths_filled

             airport        lat        long
0             Gdansk  54.352025   18.646638
1          Bangalore  12.971599   77.594563
2             Gdansk  54.352025   18.646638
3          Bangalore  12.971599   77.594563
4             Gdansk  54.352025   18.646638
5             Gdansk  54.352025   18.646638
6          Bangalore  12.971599   77.594563
7          Bangalore  12.971599   77.594563
8          Bangalore  12.971599   77.594563
9          Bangalore  12.971599   77.594563
10            Manila  14.599512  120.984219
11            Gdansk  54.352025   18.646638
12            Manila  14.599512  120.984219
13            Manila  14.599512  120.984219
14            Manila  14.599512  120.984219
15            Manila  14.599512  120.984219
16            London  51.507351   -0.127758
17         Bangalore  12.971599   77.594563
18            Gdansk  54.352025   18.646638
19            Manila  14.599512  120.984219
20         Bangalore  12.971599   77.594563
21            Gdansk  54.352025   18.646638
22            Gdansk  54.352025   18.646638
23            Gdansk  54.352025   18.646638
24            Gdansk  54.352025   18.646638
25         Bangalore  12.971599   77.594563
26         Bangalore  12.971599   77.594563
27         Bangalore  12.971599   77.594563
28            Gdansk  54.352025   18.646638
29            Manila  14.599512  120.984219
...              ...        ...         ...
60782     Luxembourg  49.815273    6.129583
60783        Belgium  50.503887    4.469936
60784  UnitedKingdom  55.378051   -3.435973
60785      Amsterdam  52.370216    4.895168
60786    Netherlands  52.132633    5.291266
60787        Germany  51.165691   10.451526
60788        Romania  45.943161   24.966760
60789      Amsterdam  52.370216    4.895168
60790      Amsterdam  52.370216    4.895168
60791  UnitedKingdom  55.378051   -3.435973
60792       Americas  54.525961 -105.255119
60793        Belgium  50.503887    4.469936
60794      Amsterdam  52.370216    4.895168
60795    Switzerland  46.818188    8.227512
60796        Germany  51.165691   10.451526
60797         Poland  51.919438   19.145136
60798         Poland  51.919438   19.145136
60799         Poland  51.919438   19.145136
60800         Poland  51.919438   19.145136
60801         Poland  51.919438   19.145136
60802      Amsterdam  52.370216    4.895168
60803      Amsterdam  52.370216    4.895168
60804      Amsterdam  52.370216    4.895168
60805      Amsterdam  52.370216    4.895168
60806         Poland  51.919438   19.145136
60807  UnitedKingdom  55.378051   -3.435973
60808      Amsterdam  52.370216    4.895168
60809         Russia  61.524010  105.318756
60810    Netherlands  52.132633    5.291266
60811    Netherlands  52.132633    5.291266

[60812 rows x 3 columns]

In [ ]:

airports = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_airports['long'],
        lat = df_airports['lat'],
        hoverinfo = 'text',
        text = df_airports['airport'],
        mode = 'markers',
        marker = dict( 
            size=2, 
            color='rgb(255, 0, 0)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
        
flight_paths = []
for i in range( len( df_flight_paths ) ):
    flight_paths.append(
        dict(
            type = 'scattergeo',
            locationmode = 'USA-states',
            lon = [ df_flight_paths['start_lon'][i], df_flight_paths['end_lon'][i] ],
            lat = [ df_flight_paths['start_lat'][i], df_flight_paths['end_lat'][i] ],
            mode = 'lines',
            line = dict(
                width = 1,
                color = 'red',
            ),
            opacity = float(df_flight_paths['cnt'][i])/float(df_flight_paths['cnt'].max()),
        )
    )
    
layout = dict(
        title = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
        showlegend = False, 
        geo = dict(
            scope='China',
            projection=dict( type='azimuthal equal area' ),
            showland = True,
            landcolor = 'rgb(243, 243, 243)',
            countrycolor = 'rgb(204, 204, 204)',
        ),
    )

In [ ]:
flight_paths

In [ ]:
fig = dict( data=flight_paths + 
           airports, layout=layout )
py.plot( fig, filename='d3-flight-paths' )